<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161767088909-ehkjj9crg6jsorjcfjddiq54s562t4do.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161767088909-ehkjj9crg6jsorjcfjddiq54s562t4do</string>
	<key>API_KEY</key>
	<string>AIzaSyDqAZHIZovN6SgkG13UwgwPQdD0DUnd9Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>161767088909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pushTestFlutterNew</string>
	<key>PROJECT_ID</key>
	<string>test-push-flutter-new</string>
	<key>STORAGE_BUCKET</key>
	<string>test-push-flutter-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161767088909:ios:609b5bd0cb3a48c34fc644</string>
</dict>
</plist>